@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html{
    box-sizing: border-box;
    font-size: 16px;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    background-color: #171616;
    font-family: 'Figtree',sans-serif;
    height: 100vh;
    margin: 0;
}

.main{
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;    
}

.form{
    background-color: white;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    padding: 2rem 1.5rem;
    width: 25rem;
}

.form__title{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
}
.form__subtitle{
    margin-top: 1.5rem;
    margin-bottom: .70rem;
    font-size: 16px;
}

.form__containerInput{
    position: relative;
    display: flex;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    background-color: white;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    border: .15rem solid #ededed;
    overflow: hidden;
    padding: 1rem;
}

.form__icon{
    width: 1.5rem;
    height: 1.5rem;
    z-index: 100;
}

.form__icon--black{
    color: black;
}

.form__icon--button{
    cursor: pointer;
}

.form__input{
    width: 100%;
    height: 100%;
    font-family: inherit;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight:500;
    background-color: inherit;
    color: inherit;
}

.form__containerInput--valid{
    border-color: #1ca633;
    color: #1ca633;
}

.form__containerInput--invalid{
    border-color: #c04519;
    color: #c04519;
}


/* .form__input::placeholder{
    font-family: inherit;
}
 */

.form__button{
    margin-top: 1rem;
    border: none;
    background-color: #0c6cdc;
    width: 100%;
    font-family: inherit;
    padding: 1rem 1rem;
    border-radius: .4rem;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    place-items: center;
}

.form__button:hover{
    background-color: #0c6ddcc9;
}

.form__errorMsg{
    margin-top: .25rem;
    font-size: 14px;
    color: #c04519;
    height: 1ch;
}

.form__inputMsg{
    font-size: 12px;
    color: #827771;
}

/* .form__input--password{
    color: black;
} */

.form__containerIcons{
    right: .5rem;
    position: absolute;
    display: flex;
    gap: 1rem;
}

.mal{
    background-color: red;
}

.transition{
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  background-color:  inherit ;
}

